@import 'inc/base';

body {
  background: url('../images/mr-t.jpg');
  font-family: $bodyFont;
  color: white;
  font-size: .85rem;
}

a {
  color: red;
}

h1 {
  @include siteWidth;
  font-family: $headerFont;
  font-size: 1.4rem;
}

.container {
  @include siteWidth;
  height: 80vh;
  box-sizing: border-box;
  border: 1px solid white;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  @include siteWidth;
}
